<div class="content">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tbody>
        <tr class="top-bkg">
          <td style="height: 64px; width: 181px; background-color: #00659C; padding-left:10px;">
            <img id="ctl00_Top1_imgTop" src="src/assets/uade/logo_fundacion_uade_bco_sin.svg" align="left" style="width:103px;border-width:0px;">
          </td>
          <td style="height: 64px; background-color: #00659C" class="top-bkg">
            <img id="ctl00_Top1_topWC2new" src="src/assets/uade/topWC2new.jpg" align="right" style="height:64px;width:587px;border-width:0px;">
          </td>
        </tr>
        <tr>
          <td colspan="2" style="height: 19px;">
            <table id="ctl00_Top1_Table1" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr class="nav-bkg">
                  <td style="width: 50%; height: 19px; text-align:left;">
                    <span id="ctl00_Top1_lblDatosUsuario" class="TOPnombre">Bienvenido {{profesor}}</span>
                  </td>
                  <td style="width: 50%; height: 19px;">
                    <div id="ctl00_Top1_pnlLinks" class="TOPnombre" style="width:100%;">
                      <a id="ctl00_Top1_lnkCerrarSesion" class="TOPnombre" href="javascript:__doPostBack(&#39;ctl00$Top1$lnkCerrarSesion&#39;,&#39;&#39;)">Cerrar Sesión</a>&nbsp;&nbsp;
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="ctl00_Top1_pnlBotones" style="width:100%;">
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
          </tr>
          <tr class="bestia">
            <td style="text-align:center">
            </td>
          </tr>
          <tr>
            <td colspan="2" class="MenuTelerikUP" style="height: 12px">
              <span id="ctl00_Top1_lblCamino">&nbsp;&nbsp;&nbsp;▪ Docente &gt; Asistencia</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
