app-alumnos {
    .color1 {
        border-top: 1px solid #EFEFEF;
        background-color: #EFEFEF;
    }
    .color2 {
        border-top: 1px solid #ffffff;
        background-color: #ffffff;
    }
}
