<div class="cuadro">
  <table id="ctl00_ContentPlaceHolderMain_ctrlAulas_tblAulas" class="FondoNAVint" align="Center" border="0" style="width:100%;">
    <tbody>
      <tr class="td-ADMdoc-REG">
        <td colspan="11" style="font-weight:bold;">Cursada Regular - 2do Cuatrimestre 2018</td>
      </tr>
      <tr class="td-AULA-bkg">
        <td>
          <table class="gris-foro" width="100%" border="0">
            <tbody>
              <tr class="tit-AULA-docente" style="border-width:1px;border-style:solid;height:20px;">
                <td colspan="11">
                  <table width="100%" border="0">
                    <tbody>
                      <tr>
                        <td>
                          <a>PROGRAMACION ORIENTADA A OBJETOS - PROGRAMACION ORIENTADA A OBJETOS - APLICACIONES INTERACTIVAS
                            - Aula L802 (Sede Monserrat)</a>
                        </td>
                        <td align="right">
                          <a>Curso292996@webcampus.uade.edu.ar</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td width="18px">
                  <img alt="Día y Horarios" src="../../../uade/icon_reloj.png" style="border-width:0px;">
                </td>
                <td class="chica" width="50px">VI </td>
                <td class="chica" width="150px">18:30hs - 22:30hs</td>
                <td width="18px">
                  <img alt="Inicio y Fin de la cursada" src="../../../uade/icon_calend.png" style="border-width:0px;">
                </td>
                <td class="chica">06/08/2018 - 01/12/2018 | Examen Final: 14/12/2018</td>
                <td class="tit-AULA-docente" width="50%"></td>
                <td width="18px">
                  <img alt="Hay actividad en Grupos" src="../../../uade/icon_gruposadminAnimado_.gif" style="border-width:0px;">
                </td>
                <td width="18px">
                  <img alt="Código del Curso" src="../../../uade/icon_clase.png" style="border-width:0px;">
                </td>
                <td class="chica">Curso: {{curso}}
                  <a class="Link" title="4114, 4116, 4117" tooltip="4114, 4116, 4117">(Ver Clases)</a>
                </td>
                <td width="18px">
                  <img alt="Alumnos del Curso" src="../../../uade/icon_alumnos.png" style="border-width:0px;">
                </td>
                <td class="chica" width="18px">{{cantAlumnos}}</td>
              </tr>
              <tr>
                <td colspan="11" style="height:30px;">
                  <table border="0" style="width:100%;">
                    <tbody>
                      <tr>
                        <td class="td-AULA-VerNovnew" style="width:50%;">
                          <div id="about" class="nano has-scrollbar">
                            <div class="content" tabindex="0" style="right: -15px;">
                              <strong>NOVEDADES:</strong>
                              <br>
                              <br>No hay novedades para esta aula</div>
                            <div class="pane" style="display: none;">
                              <div class="slider" style="height: 63px; transform: translate(0px, 0px);"></div>
                            </div>
                          </div>
                        </td>
                        <td class="td-AULA-VerForonew" style="height:30px;width:30%;">
                          <table border="0">
                            <tbody>
                              <tr>
                                <td>
                                  <strong>FOROS</strong>
                                  <div class="cantmsj_home nonewmsj"></div>
                                  <br>
                                  <img src="../../../uade/ID_950363.jpg" alt="Villanueva, Tomas" title="Villanueva, Tomas" class="img_foro_home">
                                  <span class="lbl_home">Último mensaje enviado por
                                    <i>Tomas</i>
                                  </span>
                                  <br>
                                  <span class="lbl_home" alt="GENERAL" title="GENERAL">Foro:
                                    <b>GENERAL</b>
                                  </span>
                                  <br>
                                  <span class="lbl_home" alt="Contacto" title="Contacto">Tema:
                                    <b>Contacto</b>
                                  </span>
                                  <br>
                                  <span class="lbl_home" alt="Contacto por cualquier consulta" title="Contacto por cualquier consulta">Asunto:
                                    <b>Trabajo Práctico</b>
                                  </span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td colspan="11">
                  <table border="0">
                    <tbody>
                      <tr>
                        <td class="tit-AULA-docBOT">Opciones: </td>
                        <td>
                          <a class="lnk-boton-OFF">Notas</a>
                        </td>
                        <td>
                          <a class="lnk-boton-OFF">Actas</a>
                        </td>
                        <td>
                          <a class="lnk-boton-OFF">Novedades</a>
                        </td>
                        <td>
                          <a class="lnk-boton-OFF">Integrantes</a>
                        </td>
                        <td>
                          <a class="lnk-boton-OFF">Grupos</a>
                        </td>
                        <td>
                          <a class="lnk-boton-OFF">Foros</a>
                        </td>
                        <td>
                          <a class="lnk-boton-OFF">Cronograma</a>
                        </td>
                        <td style="white-space:nowrap;">
                          <a id="ctl00_ContentPlaceHolderMain_ctrlAulas_TP" class="lnk-boton-OFF">Archivos de Alumnos</a>
                        </td>
                        <td>
                          <a id="ctl00_ContentPlaceHolderMain_ctrlAulas_Estadisticas" class="lnk-boton-OFF">Estadísticas</a>
                        </td>
                        <td>
                          <a class="lnk-boton-ON">Asistencia</a>
                        </td>
                        <td style="white-space:nowrap;">
                          <a class="lnk-boton-OFF">Vista Alumno</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <app-alumnos></app-alumnos>
</div>
